$background-color: #EFF0F3;
$headline-color: #0D0D0D;
$paragraph-color: #2A2A2A;
$button-color: #FF8E3C;
$button-text-color: #0D0D0D;
$stroke-color: #0D0D0D;
$main-color: #EFF0F3;
$highlight-color: #FF8E3C;
$secondary-color: #FFFFFE;
$tertiary-color: #D9376E;