@import '../../styles/variables/color.scss';

.container {
    display: block;
    text-decoration: none;
    position: relative;

    .project-card {
        aspect-ratio: 16/11;
        display: flex;
        flex-direction: column;
        border-radius: 25px;
        overflow: hidden;
        height: 100%;
        width: auto;
        background: rgba( 255, 255, 255, 0 );
        box-shadow: 0 8px 20px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 10px );
        -webkit-backdrop-filter: blur( 10px );

        img {
            width: auto;
            height: auto;
            object-fit: cover;
        }

        .project-info {
            position: absolute;
            display: block;
            bottom: 0;
            height: fit-content;
            width: 100%;
            background: linear-gradient(0, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
            padding-top: 40px;

            h1 {
                margin: 0 20px;
                color: $dark-headline-color;
                text-align: start;
            }
        }
    }
}