@import '../../styles/variables/color.scss';

button {
    background-color: transparent;
    border: none;
    cursor: pointer;

    span {
        font-family: 'Roboto', sans-serif;
        font-weight: 900;
        font-size: 1.3rem;
        color: $button-text-color;
    }
}