@import '../../styles/variables/color.scss';
@import '../../styles/variables/breakpoints.scss';

:host {

    .container {
        display: flex;
        align-items: start;
        justify-content: space-around;
        height: 70vh;
    
        .image-container {
            flex: 1;
            box-sizing: border-box;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            padding-bottom: 100px;
    
            .image {
                content: '';
                aspect-ratio: 1;
                width: 300px;
                height: 300px;
                border-radius: 50%;
                display: block;
                background: rgba( 255, 255, 255, 0 );
                box-shadow: 0 8px 20px 0 rgba( 31, 38, 135, 0.37 );
                backdrop-filter: blur( 10px );
                -webkit-backdrop-filter: blur( 10px );
            }
        }
    
        @media (width <= $breakpoint-mobile) {
            flex-direction: column;
        }
    }
}