@import '../../styles/variables/color.scss';
@import '../../styles/variables/breakpoints.scss';

:host {
    position: relative;
    .container {
        display: flex;
        align-items: center;
        justify-content: space-around;
        height: fit-content;

        @media (width <= $breakpoint-mobile) {
            align-items: center;
            gap: 30px;
            height: fit-content;
        }

        .about-infos {
            display: flex;
            flex-direction: column;
            align-items: center;

            .downloadButton {
                border: none;
                background-color: $dark-background-color;
                padding: 15px 30px;
                color: $dark-headline-color;
                font-family: 'Roboto', sans-serif;
                font-size: 1.2rem;
                font-weight: 700;
                border-radius: 15px;
                cursor: pointer;
                transition: all 150ms cubic-bezier(0.4,0,0.2,1);

                &:hover {
                    scale: 1.1;
                }
            }
        }

        .socials-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;

            .socials {
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                padding: 10px;
            }
        }
    
        .image-container {
            position: relative;
            flex: 1;
            box-sizing: border-box;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            .image {
                aspect-ratio: 1;
                object-fit: cover;
                width: 300px;
                height: 300px;
                border-radius: 50%;
                display: block;
                box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);


                @media (width <= $breakpoint-mobile) {
                    width: 250px;
                    height: 250px;
                }
            }
        }
    
        @media (width <= $breakpoint-mobile) {
            flex-direction: column;
        }

        app-modal {
            form {
                display: flex;
                flex-direction: column;

                .description-container {
                    display: flex;
                    flex-direction: column;
                }
            }
        }
    }
}