@import '../../styles/variables/color.scss';

// NavButton Animations
@keyframes navButtonAnimCenter {
    90% {
        width: 250%;
    }

    100% {
        width: 225%;
    }
}

@keyframes navButtonAnimDot0 {
    from {
        width: 4px;
    }

    to {
        width: calc(100% + 4px);
        height: 4px;
        left: 50%;
    }
}

@keyframes navButtonAnimDot1-3-5-7 {
    from {
        width: 4px;
    }

    to {
        width: 75%;
    }
}

@keyframes navButtonAnimDot2 {
    from {
        height: 4px;
    }

    to {
        height: calc(100% + 4px);
        width: 4px;
        top: 50%;
    }
}

@keyframes navButtonAnimDot6 {
    from {
        height: 4px;
    }
    to {
        height: calc(100% + 4px);
        width: 4px;
        top: 50%;
    }
}

@keyframes navButtonAnimDot8 {
    from {
        width: 4px;
    }
    to {
        width: calc(100% + 4px);
        height: 4px;
        left: 50%;
    }
}


@keyframes rgbText {
    @for $i from 0 through 10 {
        #{percentage($i * (1 / 10))} {
            border-color: hsla(random(365), 60, 60, 1);
        }
    }
}

@keyframes sliderDot {
    0% {
        left: 105%;
        width: 5px;
    }

    50% {
        width: 10px;
    }

    100% {
        left: -5%;
        width: 5px;
    }
}

@keyframes navIndicatorActive {
    0% {
        transform: scale3d(1, 1, 1);
    }

    30% {

        transform: scale3d(1.25, 0.75, 1);
    }

    40% {

        transform: scale3d(0.75, 1.25, 1);
    }

    50% {
        transform: scale3d(1.15, 0.85, 1);
    }

    65% {
        transform: scale3d(0.95, 1.05, 1);
    }
    
    75% {
        transform: scale3d(1.05, 0.95, 1);
    }

    100% {
        width: 8px;
    }
}

@keyframes textAppear {
    from {
        width: 0%;
        font-size: 0;
    }
    to {
        width: 100%;
    }
}

@keyframes separatorAppear {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}

@keyframes containerAppear {
    from {
        flex: 0;
    }
    to {
        flex: 1;
    }
}

