@import '../../styles/variables/breakpoints.scss';
@import '../../styles/animations/animations.scss';

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;

    .projects-container {
        flex: 1;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        gap: 30px;
        padding: 50px 30px;
        animation: containerAppear .7s ease;

        article {
            width: 100%;
            height: 100%;
            border-radius: 25px;
            background: rgba( 255, 255, 255, 0 );
            box-shadow: 0 8px 20px 0 rgba( 31, 38, 135, 0.37 );
            backdrop-filter: blur( 10px );
            -webkit-backdrop-filter: blur( 10px );
        }

        @media (width <= $breakpoint-mobile) {
            display: flex;
            flex-direction: column;
        }

    }
}