@import '../../styles/variables/breakpoints.scss';
@import '../../styles/animations/animations.scss';

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    height: fit-content;

    .projects-container {
        flex: 1;
        display: grid;
        grid-template-columns: repeat(2, minmax(200px, 1fr));
        grid-template-rows: auto;
        gap: 30px;
        padding: 50px 30px;
        animation: containerAppear .7s ease;

        app-project {
            box-sizing: border-box;
            width: auto;
            height: auto;
        }

        @media (width <= $breakpoint-mobile) {
            display: flex;
            flex-direction: column;
            padding: 50px 0;
        }

    }

    app-modal {
        top: 0;
        box-sizing: border-box;
        form {
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            width: 100%;
            padding: 0 50px;
            box-sizing: border-box;

            div {
                display: flex;
                flex-direction: column;
                width: 100%;
                box-sizing: border-box;

                input {
                    width: 100%;
                }
            }

        }
    }
}