@import './app/styles/variables/color.scss';
@import './app/styles/variables/breakpoints.scss';
@import './app/styles/animations/animations.scss';

body {
    margin: 0;
    padding: 0;
    background-color: $background-color;

    main {
        padding: 100px 50px 50px 50px;    
        width: 100vw;
        height: 100vh;
        box-sizing: border-box;

        .text-container {
            width: 60%;
            padding: 0 30px;
    
            h1, h2 {
                margin: 0;
            }

            .separator {
                animation: separator .5s ease-in-out;
                content: '';
                display: block;
                border-radius: 50px;
                width: 100%;
                height: 4px;
                background-color: $stroke-color;
            }
        }

        @media (width < $breakpoint-tablet) {
            padding: 100px 25px 25px 25px;
        }
    }
}
